# =================
# API KEYS AND CONFIGS
# =================
MASSIVE_API_KEY = API_KEY_HERE

# =================
# DATABASE CONFIGS
# =================

PRISMA_DATABASE_URL = JBDC_URL_HERE

# =================
# OTHER CONFIGS
# =================